GamebookProject/Gamebook/src/main/assets/gamebook.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="gamebook">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="items">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="item" maxOccurs="unbounded" minOccurs="0">
                <xs:complexType>
                  <xs:simpleContent>
                    <xs:extension base="xs:string">
                      <xs:attribute name="id" use="required">
                          <xs:simpleType>
                              <xs:restriction base="xs:integer">
                                  <xs:minInclusive value="0"/>
                                  <xs:maxInclusive value="99999"/>
                              </xs:restriction>
                          </xs:simpleType>
                      </xs:attribute>
                      <xs:attribute name="type" use="required">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:enumeration value="weapon"/>
								<xs:enumeration value="armor"/>
								<xs:enumeration value="apparel"/>
								<xs:enumeration value="miscellaneous"/>
							</xs:restriction>
						</xs:simpleType>
					  </xs:attribute>
                      <xs:attribute name="attr" use="optional">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:enumeration value="agi"/>
								<xs:enumeration value="vit"/>
								<xs:enumeration value="luck"/>
							</xs:restriction>
						</xs:simpleType>
					  </xs:attribute>
                      <xs:attribute type="xs:byte" name="value" use="optional"/>
                    </xs:extension>
                  </xs:simpleContent>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="creatures">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="creature" maxOccurs="unbounded" minOccurs="0">
                <xs:complexType>
                  <xs:simpleContent>
                    <xs:extension base="xs:string">
                      <xs:attribute name="id" use="required">
                          <xs:simpleType>
                              <xs:restriction base="xs:integer">
                                  <xs:minInclusive value="0"/>
                                  <xs:maxInclusive value="99999"/>
                              </xs:restriction>
                          </xs:simpleType>
                      </xs:attribute>
                      <xs:attribute name="agi" use="required">
                          <xs:simpleType>
                              <xs:restriction base="xs:integer">
                                  <xs:minInclusive value="1"/>
                                  <xs:maxInclusive value="99"/>
                              </xs:restriction>
                          </xs:simpleType>
                      </xs:attribute>
                      <xs:attribute name="vit" use="required">
                          <xs:simpleType>
                              <xs:restriction base="xs:integer">
                                  <xs:minInclusive value="1"/>
                                  <xs:maxInclusive value="99"/>
                              </xs:restriction>
                          </xs:simpleType>
                      </xs:attribute>
                    </xs:extension>
                  </xs:simpleContent>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="paragraph" maxOccurs="unbounded" minOccurs="0">
          <xs:complexType>
            <xs:choice maxOccurs="unbounded" minOccurs="0">
              <xs:element type="xs:string" name="text"/>
              <xs:element type="xs:byte" name="item"/>
              <xs:element type="xs:byte" name="creature"/>
              <xs:element type="xs:byte" name="path"/>
              <xs:element name="paths">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="path" maxOccurs="unbounded" minOccurs="1">
                      <xs:complexType>
                        <xs:simpleContent>
                          <xs:extension base="xs:byte">
                            <xs:attribute name="swipe" use="optional">
								<xs:simpleType>
									<xs:restriction base="xs:string">
									  <xs:enumeration value="right"/>
									  <xs:enumeration value="left"/>
									  <xs:enumeration value="up"/>
									  <xs:enumeration value="down"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:attribute>
                            <xs:attribute type="xs:byte" name="require" use="optional"/>
                          </xs:extension>
                        </xs:simpleContent>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element type="xs:byte" name="luckypath"/>
              <xs:element type="xs:byte" name="unluckypath"/>
              <xs:element name="effects">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="effect" maxOccurs="unbounded" minOccurs="0">
                      <xs:complexType>
                        <xs:simpleContent>
                          <xs:extension base="xs:byte">
                            <xs:attribute name="attr" use="required">
								<xs:simpleType>
									<xs:restriction base="xs:string">
									  <xs:enumeration value="agi"/>
									  <xs:enumeration value="vit"/>
									  <xs:enumeration value="luck"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:attribute>
                          </xs:extension>
                        </xs:simpleContent>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element type="xs:string" name="end"/>
              <xs:element name="ranges" minOccurs="0">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="range" maxOccurs="unbounded" minOccurs="0">
                      <xs:complexType>
                        <xs:simpleContent>
                          <xs:extension base="xs:byte">
                            <xs:attribute type="xs:byte" name="from" use="required"/>
                            <xs:attribute type="xs:byte" name="to" use="required"/>
                          </xs:extension>
                        </xs:simpleContent>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:choice>
            <xs:attribute name="id" use="required">
                <xs:simpleType>
                    <xs:restriction base="xs:integer">
                        <xs:minInclusive value="0"/>
                        <xs:maxInclusive value="999999"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:attribute>
            <xs:attribute name="type" use="required">
			  <xs:simpleType>
				<xs:restriction base="xs:string">
				  <xs:enumeration value="singlepath"/>
				  <xs:enumeration value="normal"/>
				  <xs:enumeration value="crossroad"/>
				  <xs:enumeration value="food"/>
				  <xs:enumeration value="checkluck"/>
				  <xs:enumeration value="itempick"/>
				  <xs:enumeration value="itemloss"/>
				  <xs:enumeration value="end"/>
				  <xs:enumeration value="fight"/>
				  <xs:enumeration value="dicegame"/>
				</xs:restriction>
			  </xs:simpleType>
			</xs:attribute>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>